In [10]:
import pandas as pd

sample = {
    'app_type': ["2021-03-11 11:11:11", "NaT"],
    'app_way': ["2021-03-11 11:11:11", "NaT"]
}

df = pd.DataFrame(sample)
df.head()

              app_type              app_way
0  2021-03-11 11:11:11  2021-03-11 11:11:11
1                  NaT                  NaT

In [17]:
app_type_date = pd.to_datetime(df['app_type'])

app_way_date = pd.to_datetime(df['app_way'])

pandas._libs.tslibs.nattype.NaTType

In [19]:
type(app_type_date[1])

pandas._libs.tslibs.nattype.NaTType

In [18]:
type(app_way_date[1])

pandas._libs.tslibs.nattype.NaTType

In [13]:
# NaT同士の判定はFalseになる
print(app_type_date == app_way_date)

0     True
1    False
dtype: bool