In [11]:
import pandas as pd

sample = {
    'app_type': [1, 2, 3, None, 1, 2, 3, None, 1, 2, 3, None,  1, 2],
    'app_way': [1, 2, None, 1, 2, None, 1, 2, 1, 2, None, 1 ,2, None],
    'import_cd': [1, 2, 3, 11, 12, 13, None, 1, 2, 3, 11, 12, 13, None],
    'status_cd': [None, 380, 410, 250, None, 380, 410, 250, None, 380, None, 380, 410, 250]
}

df = pd.DataFrame(sample)
df.head()

   app_type app_way  import_cd  status_cd
0       1.0       1        1.0        NaN
1       2.0       2        2.0      380.0
2       3.0    None        3.0      410.0
3       NaN       1       11.0      250.0
4       1.0       2       12.0        NaN

In [12]:
# 参考までにただのNone同士の比較はTrueになる
print(None == None)
print(None is None)

True
True

In [13]:
# NaN同士の比較はFalseになる
# Not a Number
# Not a Time(NaT)はどうなる？
ccc = df['app_way']  == df['import_cd']
ccc

0     False
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool

- 参考：https://estuarine.jp/2017/09/extract_rows_with_nan/

In [18]:
nan_df1 = df.isnull()
print(nan_df1.head())

   app_type  app_way  import_cd  status_cd
0     False    False      False       True
1     False    False      False      False
2     False     True      False      False
3      True    False      False      False
4     False    False      False       True

In [17]:
nan_df1 = df['app_type'].isnull()
print(nan_df1.head())

0    False
1    False
2    False
3     True
4    False
Name: app_type, dtype: bool

## 1, 12行目が消える

In [20]:
# Nanがない行が削除される
nan2_df = df[df.isnull().any(axis=1)]
print(nan2_df.head())

   app_type  app_way  import_cd  status_cd
0       1.0      1.0        1.0        NaN
2       3.0      NaN        3.0      410.0
3       NaN      1.0       11.0      250.0
4       1.0      2.0       12.0        NaN
5       2.0      NaN       13.0      380.0

In [22]:
print(df.isnull().any())

app_type     True
app_way      True
import_cd    True
status_cd    True
dtype: bool

In [9]:
def ccc(a, b, c):
    try:
        print(jjj(a))

        print(jjj(b))
        
        print(c)
    except  Exception as e:
        return e
    
def jjj(d):
    return d / 10

def abab(a, b, c):
    try:
        print(a)
        
        print(b / 10)
        
        print(c / 80)
    except Exception as e:
        return e
    
a = 2
b = 'gjo'
c = 'aowei'

# result = abab(a, b, c)

# result

result2 = ccc(a, b, c)
result2

0.2

TypeError("unsupported operand type(s) for /: 'str' and 'int'")